Porte-monnaie/Porte-monnaie.v12.suo
Porte-monnaie/Porte-monnaie.v12.suo
Porte-monnaie/Porte-monnaie/obj/Debug/TempPE/PorteMonnaieDataSet.Designer.cs.dll
Porte-monnaie/Porte-monnaie.v12.suo
Porte-monnaie/Porte-monnaie/obj/Debug/TempPE/PorteMonnaieDataSet.Designer.cs.dll
